body {
    background-color: black;
    color: beige; 
    text-align: center;
    margin: 0; 
    padding: 0; 
}

.wrapper {
    max-width: 1200px; 
    margin: 0 auto; 

}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 0; 
  

}

nav .logo {
    font-size: 24px; 
}

nav ul {
    list-style: none;
    display: flex;
    
    font-size: 24px;
}

.home li a {
    margin-right: 20px;
    text-decoration: none !important;
    color:white;

}
.home li a:hover{
    color: blue;
}

.txt {
    color: beige;
    position: absolute;
    left: 100px;
    top: 130px;
}

.titl,
.titl1 {
    color: beige;
    font-family: 'Playfair Display', serif;
    font-size: 80px; 
    font-weight: 500;
    position: absolute;
}

.titl {
    top: 100px;
    left: 300px;
}

.titl1 {
    top: 250px;
    left: 400px;
}

.contaner1 img,
.contaner2 img {
    flex-shrink: 0;
    position: absolute;
}

.contaner1 img {
    width: 500px;
    height: 400px;
    top: 140px;
    left: 660px;
}

.contaner2 img {
    width: 450px;;
    height: 350px;
    top: 385px;
    left: 35px;
}

.qowt {
    font-size: 18px; 
    background-color: beige;
    color: black;
    padding: 16px 32px;
    position: absolute;
    left: 800px;
    top: 650px;
}

.qowt:hover {
    background-color: aqua;
}
.copyright{
    position: relative;
    top: 189px;
    left: px;
}
.copyrit{
    position: relative;
    top: 2000px;
    
}



.portfo{
    color: beige;
    font-family: 'Playfair Display', serif;
    font-size: 60px; 
    font-weight: 500;
    position: absolute;
    top: 80px;
    left: 400px;
}
.port1 img{
    width: 480px;;
    height: 700px;
    position: absolute;
    top: 200px;
    left:100px;
}
.port2 img{
    width: 480px;;
    height: 400px;
    position: absolute;
    top: 200px;
    left:650px;
}
.port3 img{
    width: 480px;;
    height: 550px;
    position: absolute;
    top: 950px;
    left:100px;
}
.port4 img{
    width: 480px;;
    height: 850px;
    position: absolute;
    top: 650px;
    left:650px;
}
.port5 img{
    width: 480px;;
    height: 500px;
    position: absolute;
    top: 1550px;
    left:100px;
}
.port6 img{
    width: 480px;;
    height: 500px;
    position: absolute;
    top: 1550px;
    left:650px;
}






.copyrighABOUT{
    position: relative;
    top: 100px;
    left: 100px;
}
.contact label{
    position: relative;
    right: 230px;
    
}
input{

    outline: none;
    width: 500px;
    height: 30px;
    background-color: black;
    color: white;
    display: block;
    padding: 5px;
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 1.5px;
    border: white solid 2px 0px 0px 0px;
    

}

.copyrigcontact{
    position: relative;
    top: 100px;
    
}
.submit{
    padding: 10px;
    position: relative;
    top: 50px;
    right: 400px;

}
.submit:hover{
    background-color: aqua;
    
}
.art{
    width: 150px;
    height: 200px;
    position: relative;
    top: -150px;
    left: -500px;
}
.contine1{
    position: relative;
    top: -149px;
}
.hr{
    position: relative;
    top: 0px;
}
.contin12{
    position: absolute;
    top: 3000px;
}
.testii1{
    display: flex;
    background-color: rgb(50, 52, 47);
    width: 600px;
    height: 300px;
}
.testii2{
    display: flex;
    background-color: rgb(42, 43, 41);
    width: 600px;
    height: 300px;
    position: relative;
    left: px;
}
.testii3{
    
    background-color: rgb(35, 35, 33);
    width: 300px;
    height:650px;
}
.pa1{
    font-size: 25px;
}
.pa2{
    text-align: start;
    font-size: 15px;
    margin-left: 25px;
}
.abc{
    font-size: 20px;
    text-decoration: none;
    color: beige;
    position: relative;
    top: 70px; 
}
.testi404{
    margin-left: 100px;
    margin-right: 100px;
    margin-top:200px;
}
.about{
    position: relative;
    left: 450px;
    top: -200px;
}
.testii15{
    display: flex;
    background-color: rgb(50, 52, 47);
    width: 600px;
    height: 300px;
    margin-left: 100px;
}
.aboyttstin{
    display: flex;
    background-color: rgb(42, 43, 41);
    width: 600px;
    height: 300px;
    position: relative;
    left: 100px;
}